.song-data {
  align-items: center;
  border-bottom: 1px solid #e1e5eb;
  border-top: 1px solid #e1e5eb;
  display: flex;
  justify-content: space-between;
}

.song-data > span {
  flex: 2;
}

.song-data > audio {
  width: 50%;
}

.song-data > label {
  flex: 1;
}

.song-data label {
  text-align: center;
}

.song-data input {
  height: 18px;
  width: 18px;
}

.favorite-label {
  display: none;
}
